/*------------------  default  ------------------*/
body {
    background-color: #474747;
    text-align: center;
    color: #fff;
}

h1 {
    padding:1rem;
}

hr {
    border-top: 1px solid #fff;
    width: 100%
}

.remove-margin { /* offsets containers defaults */
    margin-left: 0;
    margin-right: 0;
    max-width:100%;
}

/*------------------  default  ------------------*/

.make-invis {
    display: none;
}

.dice,
.narrow-Miss,
.nav-icon {
    background-color: #a7a7a7;
    border-radius: 10%;
    border: 2px solid #fff;
}

.spell-list-spacing div {
    
    padding-bottom: 1.5rem;
}

.outPut,
.narrow-Miss-Output {
    margin: 2rem;;
    background-color: #fff;
    border-radius: 10%;
    border: 2px solid #010203;
    color: #010203;
}

.spell-sheet {
    /* position: absolute;
    bottom:0; */
}

.blank-anchor:link,
.blank-anchor:active,
.blank-anchor:visited {
    color: #fff
}

@media (max-width: 991.98px) {
    .nav-icon h1,
    .dice h1 {
        font-size: 1.5rem;
    }
}